@import "tailwindcss";

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
  --background-image-theme-gradient: radial-gradient(
    at bottom left,
    rgba(146, 0, 255, 0.3) 0%,
    rgba(110, 30, 255, 0.2) 29%,
    rgba(9, 114, 255, 0.4) 60%,
    rgba(75, 0, 255, 0.3) 100%
  );

  --color-theme1: #9200ff;
  --color-theme2: #6e1eff;
  --color-theme3: #0972ff;
  --color-theme4: #4b00ff;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

html,
body {
  height: 100%;
}

h1 {
  @apply text-4xl font-semibold;
}

h2 {
  @apply text-2xl tracking-wide;
}

h3 {
  @apply text-lg font-thin;
}

body {
  @apply bg-theme-gradient;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.glass {
  @apply transition duration-300 ease-in-out;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.personal-info svg {
  height: 16px;
}

.personal-info a {
  @apply p-2;
}

.button {
  @apply bg-theme-gradient mt-4 inline-block rounded-sm px-4 py-2 font-semibold tracking-wider uppercase lg:mt-8;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
